# Django
Django>=4.2,<5.0
djangorestframework>=3.14
django-cors-headers>=4.3
django-redis>=5.4

# DB (production)
psycopg2-binary>=2.9

# ML
numpy>=1.26,<2
pandas>=2.2
scikit-learn>=1.5
tensorflow-cpu>=2.17,<2.19

# HTTP
requests>=2.31
python-dotenv>=1.0

# Server
gunicorn>=21.2

# Tests
pytest>=7.4
pytest-django>=4.7
